@model IEnumerable<asptask1.Entities.HotMeal>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotmeal</title>
</head>
<body>
    <div class="container">

        @foreach (var item in Model)
        {
            <div>

                <p>@item.Name : @item.Price</p>
            </div>
        }
    </div>
</body>
</html>
